
.photos {
}

.photoList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    align-items: center;
    flex-basis: fit-content;
    
    
    
}
.thumbnails {
    padding: 1vh;
    
    
}
.heading {
    font-family: "Blackadder ITC", serif;
    font-size: 200%;
    color: teal;
    margin: 0.1vw;
    text-align: center;
}




